<mat-toolbar color="primary">
  <span>{{title}}</span>
</mat-toolbar>

<mat-card>
  <mat-card-header>
    <mat-card-title>Entrada de Datos</mat-card-title>
    <mat-card-subtitle>Información a ingresar en las redes neuronales</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form>
        <mat-form-field>      
          <mat-select placeholder="Tipo de Persona" [(ngModel)]="tipoPersonaSeleccionado" name="tipoPersona">
            <mat-option *ngFor="let tipoPersona of listaTipoPersona" [value]="tipoPersona">
              {{tipoPersona}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </form>

    <form>
        <mat-form-field>      
          <input matInput placeholder="Ingresar Edad" [(ngModel)]="edadIngresada" name="edad">
        </mat-form-field>
    </form>

    <form>
      <mat-form-field>
        <input matInput placeholder="Ingresar Tasa EOL" [(ngModel)]="tasaEOLIngresada" name="tasaEOL">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Ingresar Tasa IUS" [(ngModel)]="tasaIUSIngresada" name="tasaIUS">
      </mat-form-field>
    </form>

    <form>
      <mat-form-field>
        <mat-select placeholder="Debito Automático" [(ngModel)]="tipoDebitoAutomaticoSeleccionado" name="tipoDebito">
          <mat-option *ngFor="let tipoDebito of listaTiposDebitoAutomatico" [value]="tipoDebito">
            {{tipoDebito}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <form>
      <mat-form-field>
        <input matInput placeholder="Ingresar Score" [(ngModel)]="scoreIngresado" name="score">
      </mat-form-field>
    </form>

    <form *ngFor="let i of listaCantidadSuscripciones">
      <mat-form-field>
        <mat-select placeholder="Ingresar Suscripcion" [(ngModel)]="suscripcion[i]" name="suscripcion">
          <mat-option *ngFor="let suscripcion of listaSuscripciones" [value]="suscripcion">
            {{suscripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <form>
      <mat-form-field>
        <mat-select placeholder="Ingresar Domicilio 1" [(ngModel)]="domicilioIngresadoA" name="domicilioA">
          <mat-option *ngFor="let domicilio of listaDomicilios" [value]="domicilio">
            {{domicilio}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <form>
      <mat-form-field>
        <mat-select placeholder="Ingresar Domicilio 2" [(ngModel)]="domicilioIngresadoB" name="domicilioB">
          <mat-option *ngFor="let domicilio of listaDomicilios" [value]="domicilio">
            {{domicilio}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>

  <button mat-raised-button type="button" color="primary" (click)="enviarDatos(false)">Enviar CSV</button>
  <button mat-raised-button type="button" color="primary" (click)="enviarDatos(true)">Enviar CSV Mock</button>

</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Tabla con las Predicciones</mat-card-title>
    <mat-card-subtitle>Se predice un tema, un subtema y un behaviour</mat-card-subtitle>
  </mat-card-header>

  <table mat-table *ngIf="dataSourcePrediccionFinal" [dataSource]="dataSourcePrediccionFinal">
    <ng-container matColumnDef="elemento">
      <th mat-header-cell *matHeaderCellDef>Elemento</th>
      <td mat-cell *matCellDef="let element">{{element.elemento}}</td>
    </ng-container>

    <ng-container matColumnDef="prediccion">
      <th mat-header-cell *matHeaderCellDef>Predicción</th>
      <td mat-cell *matCellDef="let element">{{element.prediccion}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headersPrediccionFinal"></tr>
    <tr mat-row *matRowDef="let row; columns: headersPrediccionFinal;"></tr>
  </table>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Tabla con las Predicciones de TEMA</mat-card-title>
    <mat-card-subtitle>Se muestran las predicciones RAW del modelo predictivo</mat-card-subtitle>
  </mat-card-header>

  <table mat-table #MatSortTema="matSort" *ngIf="dataSourcePrediccionTema" [dataSource]="dataSourcePrediccionTema" matSort>
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element">{{element.categoria}}</td>
    </ng-container>

    <ng-container matColumnDef="prediccion_raw">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Predicción RAW (Probabilidad)</th>
      <td mat-cell *matCellDef="let element">{{element.prediccion_raw}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headersPrediccionTemaSubtemaBehaviour"></tr>
    <tr mat-row *matRowDef="let row; columns: headersPrediccionTemaSubtemaBehaviour;"></tr>
  </table>

  <mat-paginator #MatPaginatorTema [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Tabla con las Predicciones de SUBTEMA</mat-card-title>
    <mat-card-subtitle>Se muestran las predicciones RAW del modelo predictivo</mat-card-subtitle>
  </mat-card-header>

  <table mat-table #MatSortSubtema="matSort" *ngIf="dataSourcePrediccionSubtema" [dataSource]="dataSourcePrediccionSubtema" matSort>
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element">{{element.categoria}}</td>
    </ng-container>

    <ng-container matColumnDef="prediccion_raw">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Predicción RAW (Probabilidad)</th>
      <td mat-cell *matCellDef="let element">{{element.prediccion_raw}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headersPrediccionTemaSubtemaBehaviour"></tr>
    <tr mat-row *matRowDef="let row; columns: headersPrediccionTemaSubtemaBehaviour;"></tr>
  </table>

  <mat-paginator #MatPaginatorSubtema [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Tabla con las Predicciones de BEHAVIOUR</mat-card-title>
    <mat-card-subtitle>Se muestran las predicciones RAW del modelo predictivo</mat-card-subtitle>
  </mat-card-header>

  <table mat-table #MatSortBehaviour="matSort" *ngIf="dataSourcePrediccionBehaviour" [dataSource]="dataSourcePrediccionBehaviour" matSort>
    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element">{{element.categoria}}</td>
    </ng-container>

    <ng-container matColumnDef="prediccion_raw">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Predicción RAW (Probabilidad)</th>
      <td mat-cell *matCellDef="let element">{{element.prediccion_raw}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headersPrediccionTemaSubtemaBehaviour"></tr>
    <tr mat-row *matRowDef="let row; columns: headersPrediccionTemaSubtemaBehaviour;"></tr>
  </table>

  <mat-paginator #MatPaginatorBehaviour [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card>
